* {
  color: #000;
  text-decoration: none;
}

/* 
.cardEjemplo {
  display: flex;
  justify-content: space-around;
} */


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #ebebeb;
}
/* 
h2 {
  margin: 0;
  padding: 0;
} */

.header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 1% 5%;
  background: linear-gradient(125deg,#7209b7, #3a0ca3 85%, #4361ee);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.header a:first-child {
  height: 100%;
}

.headerLogo {
  height: 100%;
}

.searchForm{
  padding: 0 20px;
  width: 35%;
}

.searchForm input{
  box-sizing: border-box;
  padding: 10px 40px 10px 15px;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  border-radius: 2px;
  border: 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.2);
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  list-style: none;
}

.header nav ul li a{
  padding: 0 15px;
  text-decoration: none;
  color: white;
}

.header nav ul li a:hover {
  color: rgb(240, 240, 240);
}

.banner a img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 55%;
}

.cardSection {
  padding: 40px 0;
  margin: 0 5%;
}

.cardSectionTitle {
  padding: 0px 10px;
}

/* 

.cardGroup {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 0px 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {  
  transition-duration: 370ms;
  -webkit-transition-duration: 370ms;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.imgProductoEjemplo {
  width: 100%;
  object-fit: cover;
}

.card a {
  height: 100%;
}

.card a div {
  padding: 20px 20px;
}

.card a div p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.card a div p {
  margin: 16px 0 0 0;
} */

.marcasSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.marcasSection div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.marcasSection div img {
  margin: 20px;
  width: 150px;
}

.marcasSection div:hover{
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.formSection {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.formSection form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.marginElementsForm {
  margin-bottom: 15px;
}

.formButtons {
  display: flex;
  justify-content: center;
}

.formButtons input {
  padding: 5px 10px;
  margin: 0 10px;
}

footer div:first-child {
  padding: 40px 5%;
  background-color: rgb(70, 70, 70);
}

footer div:last-child {
  padding: 1% 5%;
  text-align: center;
  background-color: rgb(45, 45, 45);
}

footer div {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px){
  .header {
    padding: 1%;
  }
  .header nav ul li a{
    padding: 0 10px;
  }
}

@media only screen and (max-width: 992px){
  .header {
    justify-content: center;
  }
  .headerLogo {
    display: none;
  }
  .cardSection {
    margin: 0 1%;
  }
  .marcasSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px){
  .marcasSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 160px;
  }
  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
  .header nav ul li {
    padding: 2.5px 0;
  }
  .banner a img {
    height: 200px;
  }
  .cardGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cardSection {
    padding: 20px 0;
    margin: 0 5%;
  }
  .card {
    margin-bottom: 40px;
  }
  .marcasSection {
    grid-template-columns: repeat(1, 1fr);
  }
}